backup/

config.php

eval/config.php
eval/temp/*
eval/jail/

hphp/config.hdf
nginx.conf
apache.conf
www/.htaccess

common/lcs
jrun/jrun

attach/*
cache/
smf/attachments/*
scripts/newsletter-logs/
www/static/images/avatar/
www/static/images/latex/
www/static/images/tmp/
www/views/analyticstrack.php

arcanist/
libphutil/
